<div class="jumbotron mt-4">
    <h1 class="display-4"><strong>News Administrator</strong></h1>
    <p class="lead">Recuperativo B.</p>
    <hr class="my-4">
    <p>Here, you can list, add, edit and attach image to news.</p>
    <p>Select an option in the menu!</p>
</div>
